@font-face {font-family: 'Noto Sans Semibold';font-weight:600;font-style:normal;src: url("xara_font_1.woff?6") format("woff"), local('Noto Sans Semibold');}
@font-face {font-family: 'Raleway';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?6") format("woff"), local('Raleway');}
